.formContact {
    display: flex;
}

.contactforuss{
 
    max-width: 797px;
    border-radius: 10px;
  
    /* background-color: white; */
}

.inputContactHelp {
    width: 162%;
}

.inputForm {
    padding-left: 15px;
}

