.image {
    width: "-webkit-fill-available";
    
}

.navBar {
    background-color:
     white;
    color: black;
}

.menu :hover{
    /* background-color: green; */
    color: blue;
    
}

/* .menu {
    background-color: red;
} */
